In [1]:
import pandas as pd
import numpy as np
import regex as re

1. Cread una columna nueva y una funciÃ³n que nos de el mes donde ocurriÃ³ el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaciÃ³n de mes. En ese caso devolved un nulo (NaN).

ðŸ’¡ Pista ðŸ’¡PodÃ©is usar regex.

In [2]:
df = pd.read_csv('../DATA/Ejercicio_Pandas_5.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672 entries, 0 to 1671
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1672 non-null   int64
 1   Case Number             1672 non-null   object
 2   Year                    1672 non-null   float64
 3   Type                    1672 non-null   object
 4   Country                 1662 non-null   object
 5   Area                    1626 non-null   object
 6   Location                1621 non-null   object
 7   Activity                1641 non-null   object
 8   Name                    1663 non-null   object
 9   Sex                     1658 non-null   object
 10  Age                     1518 non-null   object
 11  Time                    1512 non-null   object
 12  Species                 1546 non-null   object
 13  Investigator Or Source  169 non-null    object
 14  Pdf                     170 non-null    object
 15  Href Formula            170 non-null    object
 16  Href                    1672 non-null   object
 17  Case Number.1           170 non-null    object
 18  Case Number.2           1672 non-null   object
 19  Original Order          170 non-null    float64
 20  Unnamed: 22             0 non-null      float64
 21  Unnamed: 23             0 non-null      float64
 22  Siglo                   1502 non-null   object
 23  Fatal (Y/N)             1585 non-null   object
 24  Injury                  1664 non-null   object
 25  Date                    1672 non-null   object
dtypes: float64(4), int64(1), object(21)
memory usage: 339.8+ KB

In [4]:
df.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Href,Case Number.1,Case Number.2,Original Order,Unnamed: 22,Unnamed: 23,Siglo,Fatal (Y/N),Injury,Date
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.06.25,NaN,NaN,NaN,siglo_XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.06.03.a,NaN,NaN,NaN,siglo_XXI,Y,FATAL,03-Jun-2018
2,2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.26.b,NaN,NaN,NaN,siglo_XXI,N,Lower left leg bitten,26-May-2018
3,3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.24,NaN,NaN,NaN,siglo_XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018
4,4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,2018.05.13.a,NaN,NaN,NaN,siglo_XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018

In [5]:
df['Date'].unique() # Lo tendremos que sacar con regex

array(['25-Jun-2018', '03-Jun-2018', '26-May-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [6]:
# Trying to find the month in the string.

from cmath import nan


def sacar_mes(x):
    try:
        return re.findall('([A-Z]{1}[a-z]{2})\-',x)[0]
    except:
        return np.nan

In [7]:
df['Mes'] = df['Date'].apply(sacar_mes)

In [8]:
df.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Case Number.1,Case Number.2,Original Order,Unnamed: 22,Unnamed: 23,Siglo,Fatal (Y/N),Injury,Date,Mes
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,NaN,2018.06.25,NaN,NaN,NaN,siglo_XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun
1,1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,NaN,2018.06.03.a,NaN,NaN,NaN,siglo_XXI,Y,FATAL,03-Jun-2018,Jun
2,2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,NaN,2018.05.26.b,NaN,NaN,NaN,siglo_XXI,N,Lower left leg bitten,26-May-2018,May
3,3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,NaN,2018.05.24,NaN,NaN,NaN,siglo_XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May
4,4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,NaN,2018.05.13.a,NaN,NaN,NaN,siglo_XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May

In [9]:
df['Mes'].unique()

array(['Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan', 'Dec', 'Nov', 'Oct',
       'Sep', 'Aug', 'Jul', nan], dtype=object)

2. Vamos con la columna fatal_(y/n). Lo primero que tenÃ©is que hacer es evaluar los valores Ãºnicos que hay. EsperarÃ­amos tener solo dos valores: y y n, pero tristemente no deberÃ­a ser asÃ­ ðŸ˜­. Cread una columna nueva y una funciÃ³n que devuelva Ãºnicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [10]:
df['Fatal (Y/N)'].unique()

array(['N', 'Y', nan, 'M', '2017', ' N', 'UNKNOWN'], dtype=object)

In [11]:
def limpia_fatal (fatal):
    if fatal == 'N':
        return 'N'
    elif fatal == 'Y':
        return 'Y'
    else:
        return nan

In [12]:
df['Fatal_limpio'] = df['Fatal (Y/N)'].apply(limpia_fatal)

In [13]:
df.tail()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Case Number.2,Original Order,Unnamed: 22,Unnamed: 23,Siglo,Fatal (Y/N),Injury,Date,Mes,Fatal_limpio
1667,1667,ND.0005,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,ND.0005,6.0,NaN,NaN,NaN,Y,FATAL,Before 1903,NaN,Y
1668,1668,ND.0004,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,ND.0004,5.0,NaN,NaN,NaN,Y,FATAL,Before 1903,NaN,Y
1669,1669,ND.0003,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,ND.0003,4.0,NaN,NaN,NaN,Y,FATAL,1900-1905,NaN,Y
1670,1670,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,...,ND.0002,3.0,NaN,NaN,NaN,Y,FATAL,1883-1889,NaN,Y
1671,1671,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,ND.0001,2.0,NaN,NaN,NaN,Y,"FATAL. ""Shark bit him in half, carrying away t...",1845-1853,NaN,Y

In [14]:
df['Fatal_limpio'].unique()

array(['N', 'Y', nan], dtype=object)

3. Seguid la misma lÃ³gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito mÃ¡s: En este caso querremos tener dos valores Ãºnicos F y M. De nuevo en la columna hay otros carÃ¡cteres raros como 'M ', 'lli', 'N', '.'. En esos casos, queremos que se reemplacen por M o F de forma aleatoria (tendrÃ©is que usar la librerÃ­a random). En caso de que sea nulo, que la funciÃ³n devuelva nulo (np.nan).

In [15]:
import numpy as np # utilizaremos el metodo np.random.choice() para la asignacion random de valores

In [16]:
df['Sex '].unique()

array(['F', 'M', 'lli', nan], dtype=object)

In [17]:
def unificar_sexo (sex):
    lista = ['F','M']
    if sex == 'F':
        return 'F'
    elif sex == 'M':
        return 'M'
    elif sex == 'lli':
        np.random.choice(lista)
    else:
        nan

In [18]:
df['Sex (M/F)'] = df['Sex '].apply(unificar_sexo)

In [19]:
df.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Original Order,Unnamed: 22,Unnamed: 23,Siglo,Fatal (Y/N),Injury,Date,Mes,Fatal_limpio,Sex (M/F)
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,NaN,NaN,NaN,siglo_XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,N,F
1,1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,NaN,NaN,NaN,siglo_XXI,Y,FATAL,03-Jun-2018,Jun,Y,M
2,2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,NaN,NaN,NaN,siglo_XXI,N,Lower left leg bitten,26-May-2018,May,N,M
3,3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,NaN,NaN,NaN,siglo_XXI,N,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,N,M
4,4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,NaN,NaN,NaN,siglo_XXI,N,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,N,M

In [20]:
df['Sex (M/F)'].unique()

array(['F', 'M', None], dtype=object)

4. Una vez que hayÃ¡is terminado eliminad las columnas originales conservando las nuevas.

In [21]:
df_7 = df.drop(['Sex ', 'Fatal (Y/N)', 'Date'], axis = 1)

In [22]:
df_7

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Age,...,Case Number.1,Case Number.2,Original Order,Unnamed: 22,Unnamed: 23,Siglo,Injury,Mes,Fatal_limpio,Sex (M/F)
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,...,NaN,2018.06.25,NaN,NaN,NaN,siglo_XXI,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,...,NaN,2018.06.03.a,NaN,NaN,NaN,siglo_XXI,FATAL,Jun,Y,M
2,2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,...,NaN,2018.05.26.b,NaN,NaN,NaN,siglo_XXI,Lower left leg bitten,May,N,M
3,3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,32,...,NaN,2018.05.24,NaN,NaN,NaN,siglo_XXI,Minor bite to hand by captive shark. PROVOKED ...,May,N,M
4,4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,21,...,NaN,2018.05.13.a,NaN,NaN,NaN,siglo_XXI,Injured by teeth of a dead porbeagle shark he ...,May,N,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1667,1667,ND.0005,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,NaN,...,ND.0005,ND.0005,6.0,NaN,NaN,NaN,FATAL,NaN,Y,M
1668,1668,ND.0004,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,NaN,...,ND.0004,ND.0004,5.0,NaN,NaN,NaN,FATAL,NaN,Y,M
1669,1669,ND.0003,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,NaN,...,ND.0003,ND.0003,4.0,NaN,NaN,NaN,FATAL,NaN,Y,M
1670,1670,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,NaN,...,ND.0002,ND.0002,3.0,NaN,NaN,NaN,FATAL,NaN,Y,M
1671,1671,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,15,...,ND.0001,ND.0001,2.0,NaN,NaN,NaN,"FATAL. ""Shark bit him in half, carrying away t...",NaN,Y,M

5. Guardad el dataframe en un csv que usaremos mÃ¡s adelante

In [23]:
df_7.to_csv('../DATA/Ejercicio_Pandas_7.csv')